* {
  box-sizing: border-box;
}

html {
  background-color: cornflowerblue;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: #eee;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #555;
}

nav a[aria-current="page"] {
  color: #000;
  background-color: #d4d4d4;
}

header {
  background-color: blanchedalmond;
}

main {
  padding: 1rem;
  background-color: antiquewhite;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  background-color: lightgray;
}

.flex-container_2 {
  display: flex;
  flex-direction: row;
  background-color: lightseagreen;
}

.flex-container_3 {
  display: flex;
  flex-direction: column;

  background-color: lightgreen;
  justify-content: center;
}

.flex-item {
  flex-basis: 200px;
}

.flex-item_2 {
  background-color: beige;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.flex-item_3 {
  background-color: darkblue;
  margin: 10px;
  padding: 10px;
}

img {
  width: 100%;
  /* height: auto; */
}

.sub-a {
  background-color: lightgreen;
  margin: 10px;
  padding: 20px;
  font-size: 18px;
}

.sub-b {
  background-color: lightblue;
  margin: 10px;
  padding: 20px;
  font-size: 18px;
}

.sub-c {
  background-color: lightcoral;
  margin: 10px;
  padding: 20px;
  font-size: 18px;
}

pre {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #fff;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}
