$white: #fff;
$black: #000;

$violet-primary: #303087;
$violet-light: #Dcdefe;

$gray-dark: #333;
$gray-primary: #737373;
$gray-secondary: #868686;

$gradient: linear-gradient(90deg, $violet-primary, $violet-light);

$white: #fff;
$black: #000;
$red: #bb0000;